/*------------------------------------*
    #KEYFRAMES
\*------------------------------------*/

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------*
    #RESET
\*------------------------------------*/

* {
  box-sizing: border-box;
}

/*------------------------------------*
    #ELEMENTS
\*------------------------------------*/

html {
  height: 100%;
  font: 400 18px/29px ff-schulbuch-nord-web, 'helvetica neue', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 50px;
  margin: 0;
  height: 100%;
  background: #000008;
  color: #fff;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*------------------------------------*
    #HEADER
\*------------------------------------*/

.Header {
  overflow: hidden;
}

.Header-link {
  margin-bottom: 20px;
}

.Header-logo {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  opacity: 0;
  animation: appear 1s forwards;
}

.Header-tagline {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  max-width: 700px;
  margin: 0;
  opacity: 0;
  animation: appear 1s forwards 0.15s;
}
